{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"rules": {
		"indent": "off",
		"linebreak-style": "off",
		"no-tabs": "off",
		"require-jsdoc": "off",
		"eol-last": "off",
		"comma-dangle": "off",
		"arrow-parens": "off",
		"max-len": "off",
		"object-curly-spacing": "off",
		"no-fallthrough": "off"
	},
	"extends": ["eslint:recommended", "google"]
}